image: python:3.10

pipelines:
  branches:
    '**':  # Match all branches
      - parallel:
          - step:
              name: Run Tests with Coverage
              caches:
                - pip
              script:
                - pip install -r requirements.txt
                - pip install pytest pytest-cov
                - pytest --cov=./ --cov-report=xml --junitxml=test-reports/report.xml

          - step:
              name: Lint Code (flake8 + async + style checks)
              script:
                - pip install -r requirements.txt
                - flake8 . --extend-exclude=dist,build,venv --show-source --statistics

          - step:
              name: Type Check (mypy)
              script:
                - pip install -r requirements.txt
                - pip install mypy
                - mypy .

          - step:
              name: Code Formatter (Black Check)
              script:
                - pip install black
                - black . --check
